AppExample.Mvc/Service References/ContactService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AppExample.Service.Dto" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppExample.Service.Dto" minOccurs="0" name="contactDto" nillable="true" type="q1:ContactDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppExample.Service.Dto" minOccurs="0" name="contactDto" nillable="true" type="q2:ContactDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppExample.Service.Dto" minOccurs="0" name="contactDto" nillable="true" type="q3:ContactDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AppExample.Service.Dto" minOccurs="0" name="FindByIdResult" nillable="true" type="q5:ContactDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AppExample.Service.Dto" minOccurs="0" name="FindAllResult" nillable="true" type="q6:ArrayOfContactDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AppExample.Service.Dto" minOccurs="0" name="FindByNameResult" nillable="true" type="q7:ArrayOfContactDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>